<!DOCTYPE html>
<html>
<head>
  <title>DummyApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bigpipe" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main"></div>

<%= yield %>

<% render_bigpipe %>

</body>
</html>
