<!DOCTYPE html>
<html>
<head>
  <title>DummyApp</title>
  <%= javascript_include_tag("http://code.jquery.com/jquery-latest.js") %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bigpipe" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main"></div>
<div id="main2"></div>

<%= yield %>

<% render_bigpipe %>

</body>
</html>
